/* =====================================
   LEVEL 3 — FIX EXTRA MIRRORS
   13–16 WITHOUT OVERLAPS
===================================== */

/*
   №13 — правильное зеркало.
   Переносим левее от вертикального луча.
   X больше не перекрывает.
*/
#laserPuzzle .mirror-13{
    left:116px !important;
    top:286px !important;
    right:auto !important;
    bottom:auto !important;
}


/*
   №14 — свободная правая зона.
*/
#laserPuzzle .mirror-14{
    left:auto !important;
    right:32px !important;
    top:302px !important;
    bottom:auto !important;
}


/*
   №15 — нижняя левая зона.
*/
#laserPuzzle .mirror-15{
    left:63px !important;
    right:auto !important;
    top:355px !important;
    bottom:auto !important;
}


/*
   №16 — нижняя зона перед целью,
   но не на самой цели.
*/
#laserPuzzle .mirror-16{
    left:224px !important;
    right:auto !important;
    top:348px !important;
    bottom:auto !important;
}
